In [1]:
import pandas as pd
import pymysql

try:
    db = pymysql.connect(host='localhost',
                     user='root',
                     password='Aa123456',
                     database='dbtest',
                     charset='utf8')
    print("数据库连接成功！")
except pymysql.Error as e:
    print("连接数据库错误："+str(e))

数据库连接成功！

创建游标，获取版本信息

In [2]:
cur = db.cursor()
sql = "SELECT VERSION()"
cur.execute(sql)
df = cur.fetchone()
print(df)

('8.0.29',)

存在同名表格，如果没有，
先检查是否存在同名表格，如果没有，创建一张表

In [3]:
sql='DROP TABLE IF EXISTS Student'

cur.execute(sql)
df =cur.fetchone()

sql = 'CREATE TABLE Student(Name CHAR(20) NOT NULL, Email CHAR(20), Age int)'
cur.execute(sql)

0

向表中插入一条数据

In [4]:
sql = "INSERT INTO Student(Name, Email, Age)VALUE(%s,%s,%s)"
VALUE = ('Kity','Kityjdhfh@163.com',19)
try:
    cur.execute(sql,VALUE)
    db.commit()
    print("插入数据成功！")
except pymysql.Error as e:
    print("数据插入失败："+str(e))

插入数据成功！

查询数据,使用 fetchone()

In [5]:
sql = 'SELECT * FROM Student'
cur.execute(sql)
result = cur.fetchone()
print(result)

('Kity', 'Kityjdhfh@163.com', 19)

In [6]:
sql = 'SELECT * FROM Student'
cur.execute(sql)
result = cur.fetchone()
print(result)

('Kity', 'Kityjdhfh@163.com', 19)

In [7]:
result = cur.fetchone()
print(result)

None

In [8]:
result = cur.fetchone()
print(result)

None

In [9]:
result = cur.fetchone()
print(result)

None

查询数据， 使用 fetchall()

In [10]:
sql = 'SELECT * FROM Student'
cur.execute(sql)
result = cur.fetchall()
print(result)

(('Kity', 'Kityjdhfh@163.com', 19),)

In [11]:
print(result[0][2])

19

查找特定的信息

In [12]:
sql ='SELECT Name,Age  FROM Student WHERE Age=%s'
VALUE = 12
cur.execute(sql, VALUE)
result = cur.fetchall()
print(result)

()

更改数据库里的数值

In [13]:
sql ='SELECT Name,Age  FROM Student WHERE Age=%s'
VALUE = 12
cur.execute(sql, VALUE)
result = cur.fetchall()
print(result)
sql ='SELECT Name,Age  FROM Student WHERE Age=%s'
VALUE = 12
cur.execute(sql, VALUE)
result = cur.fetchall()
print(result)

()
()

更改数据库里的数值

In [14]:
sql = 'UPDATE Student SET Age=%s WHERE Name=%s'
VALUE = (15,'Tomy')
cur.execute(sql, VALUE)
db.commit()

sql ='SELECT *  FROM Student WHERE Name=%s'
VALUE = "Tomy"
cur.execute(sql, VALUE)
result = cur.fetchall()
print(result)

()

删除数据

In [15]:
sql = " DELETE FROM Student WHERE Name=%s"
VALUE =("Tomy")
cur.execute(sql, VALUE)
db.commit()

sql = "SELECT * FROM Student"
cur.execute(sql)
result = cur.fetchall()
print(result)

(('Kity', 'Kityjdhfh@163.com', 19),)