# 魔法函数的使用, 导入库

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline

读取文件

In [2]:
dataset = pd.read_csv('./studentscores.csv')
dataset.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [4]:
dataset.shape

(25, 2)

In [5]:
dataset.columns

Index(['Hours', 'Scores'], dtype='object')

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [11]:
dataset.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [38]:
feature_val = ['Hours']
lable_val = ['Scores']
feature = dataset[feature_val]
#lable = dataset[lable_val]
lable = dataset['Scores']

In [52]:
feature.head()

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5

In [40]:
type(feature)

pandas.core.frame.DataFrame

In [49]:
feature.shape

(25, 1)

In [41]:
type(lable)

pandas.core.series.Series

In [53]:
lable.head()

0    21
1    47
2    27
3    75
4    30
Name: Scores, dtype: int64

In [50]:
lable.shape

(25,)

In [54]:
X = feature.values
X

array([[2.5],
       [5.1],
       [3.2],
       [8.5],
       [3.5],
       [1.5],
       [9.2],
       [5.5],
       [8.3],
       [2.7],
       [7.7],
       [5.9],
       [4.5],
       [3.3],
       [1.1],
       [8.9],
       [2.5],
       [1.9],
       [6.1],
       [7.4],
       [2.7],
       [4.8],
       [3.8],
       [6.9],
       [7.8]])

In [56]:
type(X)

numpy.ndarray