In [1]:
import pandas as pd
import pymysql

In [2]:
def connectDb():
    try:
        db = pymysql.connect(host='localhost',
                     user='root',
                     password='Aa123456',
                     database='dbtest',
                     charset='utf8')
        print("数据库连接成功！")
        return ture
    except pymysql.Error as e:
        print("连接数据库错误："+str(e))
        return false

def create_stock_basics_table():
    
    sql='DROP TABLE IF EXISTS Student'

    cur.execute(sql)
    df =cur.fetchone()

    sql = 'CREATE TABLE Student(Name CHAR(20) NOT NULL, Email CHAR(20), Age int)'
    cur.execute(sql)

In [ ]:
def create_stock_daily_table():