导入文件

In [1]:
import tushare as ts
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib

初始化tushare 接口

In [2]:
pro = ts.pro_api('af5f423bb57f376e71c2903058362f8e3e053fe30f486463f9bdac8e')

获取日线数据

In [3]:
#ts_list = '''000001.SZ,600000.SH,002920.SZ,600089.SH, 600096.SH, 002956.SZ, 600872.SH, 601700.SH,
#        601789.SH, 000049.SZ, 002222.SZ, 300815.SZ, 600653.SH'''
#ts_list = '''000001.SZ,600000.SH,002920.SZ,600089.SH, 600096.SH, 002956.SZ, 600872.SH, 601700.SH'''
ts_list = '601700.SH'
df = pro.daily(ts_code=ts_list, start_date='20220616', end_date='20220707')

In [4]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,601700.SH,20220707,5.07,5.33,5.01,5.32,5.10,0.22,4.3137,393632.76,205837.733
1,601700.SH,20220706,5.19,5.22,5.05,5.10,5.22,-0.12,-2.2989,200803.23,102848.803
2,601700.SH,20220705,5.30,5.31,5.13,5.22,5.30,-0.08,-1.5094,254464.94,132663.204
3,601700.SH,20220704,5.17,5.30,5.10,5.30,5.12,0.18,3.5156,316294.48,165904.231
4,601700.SH,20220701,5.12,5.21,5.07,5.12,5.11,0.01,0.1957,180520.95,92613.094
5,601700.SH,20220630,5.18,5.22,5.09,5.11,5.16,-0.05,-0.9690,244848.69,125906.529
6,601700.SH,20220629,5.42,5.43,5.15,5.16,5.50,-0.34,-6.1818,460206.00,243186.707
7,601700.SH,20220628,5.40,5.60,5.35,5.50,5.47,0.03,0.5484,539597.29,295237.147
8,601700.SH,20220627,5.28,5.55,5.16,5.47,5.28,0.19,3.5985,654647.93,349698.101
9,601700.SH,20220624,5.20,5.43,5.17,5.28,5.24,0.04,0.7634,497270.84,263805.481
10,601700.SH,20220623,5.17,5.26,5.04,5.24,5.23,0.01,0.1912,461050.56,237437.872
11,601700.SH,20220622,5.09,5.44,5.08,5.23,5.13,0.10,1.9493,668701.00,350447.877
12,601700.SH,20220621,5.19,5.23,5.05,5.13,5.25,-0.12,-2.2857,525437.12,268167.663
13,601700.SH,20220620,5.33,5.67,5.13,5.25,5.21,0.04,0.7678,1185841.18,630274.650
14,601700.SH,20220617,4.73,5.21,4.68,5.21,4.74,0.47,9.9156,279569.44,143043.233
15,601700.SH,20220616,4.70,4.85,4.69,4.74,4.70,0.04,0.8511,205974.25,98200.067

获取行数据，使用 .loc[index]  .loc[index, column] 使用行索引和列索引名称获取行数据 和具体的数据

In [17]:
df.loc[0:5,'close'].mean()

5.195

In [6]:
df.loc[2,'high']

5.31

使用.iloc[num] num 为行数， 可以获取行数据， iloc[num,num] 直接使用数字定位需要获取的数据

In [7]:
df.iloc[2]

ts_code        601700.SH
trade_date      20220705
open                 5.3
high                5.31
low                 5.13
close               5.22
pre_close            5.3
change             -0.08
pct_chg          -1.5094
vol            254464.94
amount        132663.204
Name: 2, dtype: object

In [8]:
df.iloc[2,3]

5.31

In [9]:
df.values

array([['601700.SH', '20220707', 5.07, 5.33, 5.01, 5.32, 5.1, 0.22,
        4.3137, 393632.76, 205837.733],
       ['601700.SH', '20220706', 5.19, 5.22, 5.05, 5.1, 5.22, -0.12,
        -2.2989, 200803.23, 102848.803],
       ['601700.SH', '20220705', 5.3, 5.31, 5.13, 5.22, 5.3, -0.08,
        -1.5094, 254464.94, 132663.204],
       ['601700.SH', '20220704', 5.17, 5.3, 5.1, 5.3, 5.12, 0.18, 3.5156,
        316294.48, 165904.231],
       ['601700.SH', '20220701', 5.12, 5.21, 5.07, 5.12, 5.11, 0.01,
        0.1957, 180520.95, 92613.094],
       ['601700.SH', '20220630', 5.18, 5.22, 5.09, 5.11, 5.16, -0.05,
        -0.969, 244848.69, 125906.529],
       ['601700.SH', '20220629', 5.42, 5.43, 5.15, 5.16, 5.5, -0.34,
        -6.1818, 460206.0, 243186.707],
       ['601700.SH', '20220628', 5.4, 5.6, 5.35, 5.5, 5.47, 0.03, 0.5484,
        539597.29, 295237.147],
       ['601700.SH', '20220627', 5.28, 5.55, 5.16, 5.47, 5.28, 0.19,
        3.5985, 654647.93, 349698.101],
       ['601700.SH', '20220624', 5.2, 5.43, 5.17, 5.28, 5.24, 0.04,
        0.7634, 497270.84, 263805.481],
       ['601700.SH', '20220623', 5.17, 5.26, 5.04, 5.24, 5.23, 0.01,
        0.1912, 461050.56, 237437.872],
       ['601700.SH', '20220622', 5.09, 5.44, 5.08, 5.23, 5.13, 0.1,
        1.9493, 668701.0, 350447.877],
       ['601700.SH', '20220621', 5.19, 5.23, 5.05, 5.13, 5.25, -0.12,
        -2.2857, 525437.12, 268167.663],
       ['601700.SH', '20220620', 5.33, 5.67, 5.13, 5.25, 5.21, 0.04,
        0.7678, 1185841.18, 630274.65],
       ['601700.SH', '20220617', 4.73, 5.21, 4.68, 5.21, 4.74, 0.47,
        9.9156, 279569.44, 143043.233],
       ['601700.SH', '20220616', 4.7, 4.85, 4.69, 4.74, 4.7, 0.04,
        0.8511, 205974.25, 98200.067]], dtype=object)

In [10]:
type(df.values)

numpy.ndarray

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(16, 11)

In [13]:
df.columns

Index(['ts_code', 'trade_date', 'open', 'high', 'low', 'close', 'pre_close',
       'change', 'pct_chg', 'vol', 'amount'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=16, step=1)

In [15]:
df.describe()

,open,high,low,close,pre_close,change,pct_chg,vol,amount
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,1.600000e+01,16.00000
mean,5.158750,5.328750,5.059375,5.211250,5.172500,0.038750,0.835344,4.418038e+05,231579.52450
std,0.200528,0.194692,0.165629,0.171226,0.210602,0.179439,3.550439,2.544230e+05,136888.55733
min,4.700000,4.850000,4.680000,4.740000,4.700000,-0.340000,-6.181800,1.805210e+05,92613.09400
25%,5.112500,5.220000,5.047500,5.127500,5.117500,-0.057500,-1.104100,2.520609e+05,130974.03525
50%,5.185000,5.305000,5.085000,5.225000,5.215000,0.035000,0.655900,4.269194e+05,221637.80250
75%,5.285000,5.432500,5.135000,5.285000,5.257500,0.120000,2.340875,5.289772e+05,274935.03400
max,5.420000,5.670000,5.350000,5.500000,5.500000,0.470000,9.915600,1.185841e+06,630274.65000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     16 non-null     object
 1   trade_date  16 non-null     object
 2   open        16 non-null     float64
 3   high        16 non-null     float64
 4   low         16 non-null     float64
 5   close       16 non-null     float64
 6   pre_close   16 non-null     float64
 7   change      16 non-null     float64
 8   pct_chg     16 non-null     float64
 9   vol         16 non-null     float64
 10  amount      16 non-null     float64
dtypes: float64(9), object(2)
memory usage: 1.5+ KB